# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv*/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# (models et data inclus dans le repo — taille acceptable)

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Streamlit
streamlit_app/.streamlit/secrets.toml
